html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.width-100{
    width: 100px;
}

.width-300{
    width: 300px;
}

.mr-6{
    margin-right: 6px;
}

.product-container {
    padding: 3px; 6px;
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid black;
    box-shadow: 3px 3px dimgrey, -1em 0 .4em grey;
}

.product-feature{
    font-size: 20px;
    margin-right: 6px;
}