@using PriceListEditor.Pagination
@model PagedList<PriceList>

<h2>Прайсы</h2>

<div id="price-lists-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Название</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PriceList priceList in Model)
            {
                <tr>
                    <td>@priceList.Id</td>
                    <td>
                        <a class="link-offset-2 link-underline link-underline-opacity-0" href="~/price_lists/@priceList.Id">@priceList.Name</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@if(Model.totalPages > 1)
{
    int maxPageDisplayed = 5;
    int minPageCount = maxPageDisplayed > Model.totalPages ? Model.totalPages : maxPageDisplayed;
    <button type="button" class="btn-price-lists-pagination">&#8592;</button>
    for (int i = 0; i < minPageCount; i++)
    {
        <button type="button" class="btn-price-lists-pagination">@(i + 1)</button>
    }
    <button type="button" class="btn-price-lists-pagination">&#8594;</button>
}

<scripts>
    <script charset="utf-8" type="text/javascript" src="~/js/price_lists_pagination.js"></script>
</scripts>