@using PriceListEditor.Enums
@using PriceListEditor.ViewModels
@model CreateProductVM

<h2>Добавление товара</h2>

<form method="post" asp-action="Create" asp-route-id="@ViewData["price_list_id"]" asp-controller="Products" asp-antiforgery="true">
    <div class="validation" asp-validation-summary="ModelOnly">  </div>
    <input type="text" value="@ViewData["price_list_id"]" name="PriceListId" hidden />
    <div class="form-group">
        <label for="Name">Название товара *</label>
        <input asp-for="Name" type="text" name="Name" class="form-control">
    </div>

    <div class="form-group">
        <label for="Code">Артикул *</label>
        <input asp-for="Code" type="text" name="Code" class="form-control">
    </div>

    <div>
        @{
            int counter = 0;
        }
        @foreach (Feature f in ViewData["features"] as List<Feature>)
        {

            <div class="d-flex flex-row">
                <div class="form-control">
                    @f.Title
                </div>
                <input name="Features[@counter].FeatureId" type="number" hidden value="@f.Id" />
                @if (f.Type == FeatureType.Number)
                {
                    <input asp-for="Features[counter].Value" name="Features[@counter].Value" type="number" id="typeNumber" class="form-control" />
                }
                @if (f.Type == FeatureType.Line)
                {
                    <input asp-for="Features[counter].Value" type="text" name="Features[@counter].Value" class="form-control">
                }
                @if (f.Type == FeatureType.Multiline)
                {
                    <textarea asp-for="Features[counter].Value" name="Features[@counter].Value" class="form-control" rows="3"></textarea>
                }
                
                @{
                    counter++;
                }
            </div>
        }
    </div>

    <button type="submit" class="btn btn-success mt-3">Сохранить</button>
</form>
